tattantatcss {
  /* kiểu chữ */
  font-style: italic;
  /* font chữ */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* chuyển hoa thường */
  text-transform: capitalize;
  /* căn giữa */
  text-align: center;
  /* visibility - ẩn hoặc hiện element */
  /* ko nhìn thấy không gian giao diện ; vẫn chiếm không gian ; không tương tác phần tử  */
  visibility: hidden; /* ẩn */
  visibility: visible; /* hiện */
}
